<div class="m-3">
  <h3>Complaint Status</h3>

  <h4><b>Persion Name : </b> <span> <%=@complaint.name%> </span></h4>  <br/>
  <h4><b>Complaint : </b> <span> <%=@complaint.complaint%> </span></h4>  <br/>
  <h4><b>Complaint Image : </b> <%= image_tag(@complaint.image, size:"400x300") if @complaint.image.attached?%> </h4> <br/>
  <h4><b>Status : </b> <span><%=@complaint.complaint_status%></span> </h4>  <br/>
  <div>
    <h4><b>Reason : </b><span><%=@complaint.reason%></span></h4>  <br/>
    <h4><b>Solutions : </b> <span><%=@complaint.solution%></span></h4>  <br/>
  </div>
  <h4><%= link_to 'Update Complaint', complaint_edit_path(@complaint.id), class:"btn btn-outline-success" %></h4>
</div>
